body {
    margin-top: 50px;
}
.wrapper {
    padding-left: 0;
}
.page-wrapper {
    width: 100%;
    /*padding: 5px 15px;*/
}
/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}
.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}
.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
}
.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 14px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: auto;
}
.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 14px;
}
/* Nav Announcements */
.announcement-heading {
    font-size: 50px;
    margin: 0;
}
.announcement-text {
    margin: 0;
}
/* Table Headers */
table.tablesorter thead {
    cursor: pointer;
}
table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}
/*Panel*/
.panel-blue {
    border-color: #428bca;
}
.panel-blue > a {
    color: #428bca;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-blue > .panel-heading {
    border-color: #428bca;
    color: #fff;
    background-color: #428bca;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-red > .panel-heading {
    color: #fff;
    background-color: #B5141A;
    border-color: #d43f3a;
    /*border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;*/
}
/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {
    /* Wrappers */
    .wrapper {
        padding-left: 225px;
    }
    .page-wrapper {
        padding: 15px 25px;
    }
    /* Side Nav */
    .side-nav {
        margin-left: -225px;
        left: 225px;
        width: 225px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #222222;
        overflow-y: auto;
    }
    /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */
    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        /*-moz-box-shadow: none;*/
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #999999;
        padding: 15px 15px 15px 25px;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
    .side-nav>li.dropdown>ul.dropdown-menu>li>.active,
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
        color: #fff;
        background-color: #080808;
    }
    .side-nav>li>a {
        width: 225px;
    }
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #080808;
    }
    /* Nav Messages */
    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }
    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }
    .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }
}
