html{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    color: #505050;
    padding-bottom: 25px;
    overflow-x: hidden;
    font-size: 1.2 rem;
}
.panel{
    max-width: 100%;
    overflow-x: hidden;
}
.content{
    display:none;
}
.popover{
    max-width: 100%;
    /*z-index: 1060;*/
}
hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border: 0;
    border: 3px solid #dfdfdf;
}
hr.style_1 {
    margin-top: 0px;
    margin-bottom: 5px;
    border: 0;
    border: 3px solid #dfdfdf;
}
.full{
    min-width: 100%;
}
/* Form */
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 7rem auto 0;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    border: 3px solid #EF3B3A;
    text-align: center;
}
.form .thumbnail {
    background-color: transparent;
    width: 230px;
    height: auto;
    margin: 5px auto 20px auto;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px solid #EF3B3A;
}
.form .thumbnail img {
    display: block;
    width: 100%;
}
.form input {
    outline: 0;
    width: 100%;
    border: 2px solid #f2dede;
    margin: 0 0 0;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}
.form button {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    margin-top: 2px;
    padding: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form img {
    margin: 3px 0;
}
.form .message {
    margin: 5px 0 0;
    font-size: 12px;
}
.form .message a {
    color: bluesea;
    text-decoration: none;
}

.dl-horizontal dt {
  width:auto;
  margin-left:auto;
}
.dl-horizontal dd {
    margin-left: 150px;
}

.nopading{
    padding: 0;
}
.nomargin{
    margin: 0;
}
.padtb0{
    padding-top: 0;
    padding-bottom: 0;
}
.bg{
    /*background: url('../img/bg-z.jpg') no-repeat fixed;*/
    /*background: #660000;*/
    background: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
p {
    margin: 0;
}
i{
    padding: 0 3px 3px 0;
}
.sm-st {
  background:#fff;
  padding:20px;
  border-radius:3px;
  border: 2px solid #f2dede;
  margin-bottom:20px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 0px rgba(0, 0, 0, .05);
}
.sm-st-icon {
  width:60px;
  height:60px;
  display:inline-block;
  line-height:60px;
  text-align:center;
  font-size:30px;
  background:#eee;
  border-radius:5px;
  float:left;
  margin-right:10px;
  color:#fff;
}
.sm-st-info {
  font-size:12px;
  padding-top:2px;
}
.sm-st-info span {
  display:block;
  font-size:24px;
  font-weight:600;
}
.st-red {
  background-color: #F05050;
}
.st-green {
  background-color: #27C24C;
}
.st-violet {
  background-color: #7266ba;
}
.st-blue {
  background-color: #23b7e5;
}
.a_no_u:hover, .a_no_u:active{
    text-decoration: none;
}
.navbar {
    border-bottom: 5px solid #B5141A;
    padding-right: 10px;
}
.navbar-brand {
    margin-right: 0;
    padding: 10px 0;
    text-align: center;
    width: 83%;
}
.nav-tabs > li, .nav-tabs > li > a, .nav-tabs > li > a:hover{
    color: #555;
    border-bottom: 0;
    background-color: transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
    color: #555;
    border-top: 5px solid #B5141A;
}
.bglogin{
    background: #ffffff;
    /*background: url('../../img/bg-ok1.jpg') no-repeat center center fixed;*/
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.navbar .navbar-brand>img {
    height: 3rem;
    width: auto;
    display: block;
    margin: 0 auto;
}
.navbar-toggle {
    margin-right: 5px;
}
.side-nav {
    margin-top: 0.7rem;
    background: transparent;
}
.side-nav > li> a{
    padding: 8px 15px;
    border-bottom: solid 1px #dfdfdf;
}
.navbar-default .navbar-nav > li > a {
    /*color: #4c4c4c;*/
    color: #333;
}
.navbar-nav > li > form {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    margin-right: 20px;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #dfdfdf;
    border-radius: 3px;
}
.navbar-ex1-collapse > .side-nav > li.active > a{
    /*background-color: #B5141A;*/
    background-color: #990000;
    color: white;
}
.navbar-ex1-collapse > .side-nav > li.active > a:hover{
    background-color: #990000;
    color: white;
}
.navbar-ex1-collapse > .side-nav > li > a:hover{
    background-color: #990000;
    color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    background-color: #990000;
    color: white;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: #dfdfdf;
}
.navbar-ex1-collapse > .side-nav > li.dropdown > ul > li> a{
    padding: 8px 5px 8px 35px;
    border-bottom: solid 1px #dfdfdf;
}
.navbar-ex1-collapse > .side-nav > li.dropdown > ul > li> a:hover{
    background-color: #990000;
    color: white;
}
/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview1 .message {
    font-size: 14px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: auto;
}
.messages-dropdown .dropdown-menu .message-preview2 .message {
    font-size: 14px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: auto;
}
.messages-dropdown .dropdown-menu .message-preview2 .message div{
    padding: 10px;
}
.page-wrapper {
    padding: 10px 10px 10px 10px;
    border-left: solid 1px #ddd;
    min-height: 87vh;
    overflow-x: hidden;
}
.breadcrumb {
    padding: 0 10px;
    margin-bottom: 5px;
    border-radius: 0;
    list-style: none;
    background-color: #f8d7da;
}
.btn{
    border-radius: 2px;
    padding: 2px 5px;
    margin-top: 2px;
}
.btn1{
    border-radius: 2px;
    padding: 2px 15px;
    margin-top: 2px;
    border-color: transparent;
}
.btnmax{
    border-radius: 2px;
    padding: 10px 15px;
    border-color: transparent;
    font-size: 20px;
}
.btn:focus{
    border-color: transparent;
}
.btn-xs{
    border-radius: 0;
    padding: 1px 2px;
    font-size: 12px;
}
.tabel1 > th{
    border-color: #C9DCEA;
    background-color: #deeffc;
}

table {
    word-wrap: break-word;
    /*word-break: keep-all;*/
    /*white-space: nowrap;*/
}
th{
    font-weight: normal;
}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px 6px 2px 6px;
    /*vertical-align: top;*/
    vertical-align: middle;
}
.cell{
    max-height: 180px;
    overflow-y: scroll;
}
.cell2{
    max-height: 20px;
    overflow-y: scroll;
}
.chide{
    overflow-x: hidden;
}
.table > thead > tr > th{
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
    /*vertical-align: middle;*/
    padding: 8px 6px;
    /*border: 1px solid #f2dede;*/
}
table.dataTable tbody td {
    vertical-align: top;
}
.vam{
    vertical-align: middle;
}
.vat{
    display: table-cell;
    vertical-align: top;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.f_right{
    float: right;
}
.nowrap{
    white-space: nowrap;
}
.wrap{
    word-wrap: break-word;
}
/*td:first-child {
width: 5%;
}*/
/*td:last-child {
width: 13%;
word-break: keep-all;
}*/
.control-label{
    white-space: nowrap;
}
.col-center {
    float: none;
    /*display: block;*/
    margin: 0 auto;
    padding: 0;
    /* margin-left: auto; margin-right: auto; */
}
.modal-400{
    width: 400px;
}
.pagination {
    margin: 5px 0;
}
.panel{
    margin-bottom: 0;
}
.panel-default{
    border: 3px solid #CCCCCC;
    padding: 0;
}
.border-alert{
    border: 5px solid #d43f3a;
    padding: 0;
}
.border-success{
    border: 5px solid #4cae4c;
    padding: 0;
}
.panel-heading{
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}
.panel-body{
    padding: 5px;
}
.panel-success > .panel-heading{
    color: #fff;
    /*background-color: #5cb85c;*/
    background-color: #4cae4c;
    border-color: #4cae4c;

}
.panel-alert > .panel-heading{
    color: #fff;
    background-color: #d43f3a;
    border-color: #d43f3a;
}
.panel-primary > .panel-heading{
    color: #fff;
    background-color: #3871F5;
    border-color: #357ebd;
}
.panel-info > .panel-heading{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.red{
    background: #990000;
    color: white;
}
.redold{
    background-color: #990808;
    color: #fff;
}
.default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.danger {
    color: #fff;
    /*background-color: #d9534f;*/
    background-color: #990000;
    border-color: #d43f3a;
}
.white {
    color: #5e5e5e;
    background-color: #fff;
    border: 1px solid #e5e9ec;
}
.badge-primary {
    background-color: #428bca;
    border: 0.5px solid white;
}
.badge-danger {
    background-color: #b94a48;
    border: 0.5px solid white;
}
.badge-warning {
    background-color: #f89406;
    border: 0.5px solid white;
}
.badge-success {
    background-color: #4cae4c;
    border: 0.5px solid white;
}
.badge-info {
    background-color: #3a87ad;
    border: 0.5px solid white;
}
.badge-inverse {
    background-color: #333333;
    border: 0.5px solid white;
}
span >.label{
    font-size: 14px;
}
.breadcrumb > li + li:before {
    color: #505050;
    content: '\f105';
    font-family: 'fontAwesome';
    padding: 0 5px;
}
.form-horizontal .control-label{
    /* text-align:right; */
    text-align:left;
}
/* CSS modal*/
.modal-dialog{
    /*margin-top: 50%;*/
    border-radius:0;
    /*Menambahkan Garis Pembatas*/
    /*border: 5px solid #B5141A;*/
}
.modal-header{
    background-color: #990000;
    /*background-color: #3871F5;*/
    border-bottom: none;
}
.modal-title{
    color: white;
    text-align: center;;
}
.modal-body{
    /*background-color: #21608A;*/
    padding: 5px 15px;
    /*color: white;*/
}
.modal-footer{
    /*background-color: #3498db;*/
    padding: 10px;
    margin-top: 0;
}
body.modal-open{
    margin-right:0px!important;
}

.modal-open .navbar-fixed-top{
    margin-right:0px!important;
}
.alert {
    margin-bottom: 5px;
    padding: 7px;
}

.alert-primary {
    border: 1px solid #b8daff;
    color: #004085;
    background-color: #cce5ff;
}
.alert-secondary {
    border: 1px solid #dddfe2;
    color: #464a4e;
    background-color: #e7e8ea;
}
.alert-success{
    border: 1px solid #c3e6cb;
    color: #155724;
    background-color: #d4edda;
}
.alert-info {
    border: 1px solid #bee5eb;
    color: #0c5460;
    background-color: #d1ecf1;
}
.alert-warning {
    border: 1px solid #ffeeba;
    color: #856404;
    background-color: #fff3cd;
}
.alert-danger{
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}
.form-group {
    margin-bottom: 10px;
}
.error{
    color: red;
    background-color: #f8d7da;
    /*background-color: #ffe6e6;*/
    /*border:  1px solid red;*/
    border-radius: 4px;
    padding:0 10px;
    display: inline-block;
    margin-top: 2px;
    font-weight: normal;
}
.tooltip-inner {
    max-width: 600px;
    padding: 3px 8px;
    color: red;
    text-align: center;
    background-color: #f8d7da;
    border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
    border-top-color: red;
}
.error2{
    color: red;
    padding:0 10px;
    display: inline-block;
}
.alertme{
    margin:0 0 0 15px;
    padding: 1px 6px;
    display: inline-block;
    text-align: center;
}
.alertme2{
    font-size: 18px;
    text-align: center;
}
readonly2{
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #d9d9d9;
    opacity: 1;
}
input[readonly], input[readonly="readonly"] {
    cursor: not-allowed;
    /*cursor: pointer;*/
}
input[readonly]:focus, input[readonly="readonly"]:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
select[readonly], select[readonly="readonly"]{
    cursor: not-allowed;
}
select[readonly]:focus, select[readonly="readonly"]:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff;
    background: #5cb85c;
    border-color: #4cae4c;
    border: 1px solid #4cae4c;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: #fff;
    background: #5cb85c;
}

/* Modal Image */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.myImg:hover {
    /*opacity: 0.7;*/
    border: 1px solid #4cae4c;
}
.footer{
    text-align: center;
    border-top: 3px solid #990000;
    z-index: 2;
    color: #666;
    background: white;
    position: fixed;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 40px;
}
/* Modal Image */
.myImg {
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
}
.myImg:hover {opacity: 0.7;}
/*background Modal */
.modal_image {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* auto = Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    max-height: 100%;
}
/* Modal Content (image) */
.modal_content_image {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
}
/* Caption Modal Image */
.caption_image {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    /*padding: 10px 0;*/
    height: 150px;
}
/* Animasi Modal Image */
.modal_content_image, .caption_image {
    -webkit-animation-name: zoom;
    -moz-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    /*from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}*/
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close_span {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close_span:hover,
.close_span:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.noborder thead tr th, .noborder thead tr td,
.noborder tbody tr th, .noborder tbody tr td,
.noborder tfoot tr th, .noborder tfoot tr td {
    border: none;
    /*padding: 2.5px;*/
}
@media (min-width: 1300px){
    .kbrg1{ width:230px; }
    .nbrg1{ min-width:360px; }
    .sat1{ width:110px; }
    .stok1{ width:60px; }
    .hrg1{ width:90px; }
    .jml1{ width:90px; }
    .aks1{ width:50px; }

    .ftbl_pj{ font-size: 1.4rem }
    .kbrg2{ width:220px; }
    .nbrg2{ min-width:350px; }
    .sat2{ width:110px; }
    .hrg2{ width:90px; }
    .jml2{ width:60px; }
    .subt2{ width:90px; }
    .aks2{ width:45px; }

    .btnsv{min-width:190px}
    .jarak1{width:90px; }
    .nameb{width:90px;}
    .inp3{max-width:140px;}
    .ekor3{width:50px;}
}
@media (min-width: 768px){
    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #777;
    }
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: white;
        background-color: #990000;
    }
    .dropdown-menu > li > a:hover{
        background-color: #dfdfdf;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: white;
        background-color: #990000;
    }
}
@media (max-width: 767px){
    .wrapper{
        overflow-x: hidden;
    }
    .dl-horizontal dd {
        margin-left: 10px;
    }
    .modal-400{
        width: auto;
    }
    .navbar{
        padding-right: 0;
        overflow-x: hidden;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #777;
    }
    .navbar-nav > li > form {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
    }
    .page-wrapper{
        overflow-x: hidden;
    }
    .message{
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .form {
        margin: 2rem auto 2rem;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 2px 17px 2px 6px;
        vertical-align: top;
    }
    .noborder thead tr th, .noborder thead tr td,
    .noborder tbody tr th, .noborder tbody tr td,
    .noborder tfoot tr th, .noborder tfoot tr td {
        padding: 2.5px;
    }
    td:last-child {
        width: 22%;
        white-space: nowrap;
    }
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: white;
        background-color: #990000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #dfdfdf;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: white;
        background-color: #990000;
    }
    .modal_content_image {
        width: 100%;
    }
    .tanggalpj{
        text-align: left;
    }
}
@media (max-width: 1030px){
    .kbrg1{ width:130px; }
    .nbrg1{ min-width:210px; }
    .sat1{ width:80px; }
    .stok1{ width:40px; }
    .hrg1{ width:75px; }
    .jml1{ width:70px; }
    .aks1{ width:50px; }

    .ftbl_pj{ font-size: 1.4rem }
    .kbrg2{ width:110px; }
    .nbrg2{ min-width:190px; }
    .sat2{ width:80px; }
    .hrg2{ width:75px; }
    .jml2{ width:40px; }
    .subt2{ width:70px; }
    .aks2{ width:50px; }

    .btnsv{min-width:80px}
    .jarak1{ width:20px; }
    .nameb{width:90px;}
    .inp3{max-width:140px;}
    .ekor3{width:52px;}
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid bluesea;
    -webkit-text-fill-color: #555;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
