/* Form */
hr{
    margin: 0;
}
hr.style_1 {
    margin-top: 0px;
    margin-bottom: 5px;
    border: 0;
    border: 3px solid #dfdfdf;
}
hr.style_2 {
    max-width: 400px;
    border-color: #999999;
}
hr.style_3 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.ml10{
    margin-left: 10px;
}
.form {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 300px;
    margin: 2rem auto 2rem;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #EF3B3A;
    text-align: center;
}
.form .thumbnail {
    background-color: transparent;
    width: 230px;
    height: auto;
    margin: 5px auto 20px auto;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #EF3B3A;
}
.form .thumbnail img {
    display: block;
    width: 100%;
}
.form input {
    outline: 0;
    width: 100%;
    border: 1px solid #f2dede;
    margin: 0 0 0;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}
.form button {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    margin-top: 2px;
    padding: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form img {
    margin: 3px 0;
}
.form .message {
    margin: 5px 0 0;
    font-size: 12px;
}
.form .message a {
    color: bluesea;
    text-decoration: none;
}
.nopadding{
    padding: 0;
}
.padtb0{
    padding-top: 0;
    padding-bottom: 0;
}
.carousel-inner > .item {
    -webkit-transition: 0.1s ease-in-out left;
    -moz-transition: 0.1s ease-in-out left;
    -o-transition: 0.1s ease-in-out left;
    transition: 0.1s ease-in-out left;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/bg-z.jpg') no-repeat fixed;
    /*background: #660000;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*background: #070000;
    background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);
    background: linear-gradient(to right, #070000, #4C0001, #070000);*/
}
.head{
    /*background: url('../../img/banner2-713.jpg') no-repeat fixed;*/
    background: white;
    /*background-size: 100%;*/
    background-size: contain;
    min-height: 100px;
    height: 100%;
}
.brand{
    color: #990000;
}
.address-bar{
    color: #990000;
}
.gambar-lap{
    height: 30rem;
}
.gambar-lap > img{
    width: 100%;
    height: 100%;
}
.col-lap1{
    padding-right: 7.5px;
}
.col-lap2{
    padding-left: 7.5px;
}
.lap-list{
    background: black;
    color: #ffffff;
}
h1, h2, h5, h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    /*font-size: 1.25em;*/
    /*line-height: 1.6;*/
    /*color: #000;*/
    margin:0;
}
.brand,
.address-bar {
    display: none;
}
.navbar{
    margin-bottom: 10px;
}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    color: #990000;
}
.navbar-nav {
    /*text-transform: uppercase;*/
    font-weight: 400;
    letter-spacing: 1px;
}
.nav-tabs > li, .nav-tabs > li > a, .nav-tabs > li > a:hover{
    color: #555;
    border-bottom: 0;
    background-color: transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
    color: #555;
    border-top: 5px solid #B5141A;
}
.col-center {
    float: none;
    /*display: block;*/
    margin: 0 auto;
    padding: 0;
    /* margin-left: auto; margin-right: auto; */
}
.modal-400{
    width: 400px;
}
.img-responsive {
    min-width: 100%;
    height: auto;
}
.brand-before,
.judul {
    text-transform: uppercase;
}
.brand-before {
    margin: 5px 0;
}
.judul {
    margin-top: 10px;
    font-size: 2em;
}
.welcome {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}
.nama {
    margin: 15px auto 3px;
    max-width: 400px;
    border-color: #999999;
}
.col-md-12{
    padding: 0;
}
.box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 15px;
    background: #ffffff;
    /*background: url('../../img/bg2.jpg') no-repeat center center fixed;*/
    border-radius: 5px;
    height: auto;
}
.box:after {
    content: '';
    display: inherit;
    clear: both;
}
.box2 {
    padding-top: 0;
    padding-bottom: 15;
    /*background: #ffffff;*/
    /*background: url('../../img/bg2.jpg') no-repeat center center fixed;*/
    border-radius: 5px;

}
.box-2{
    padding: 0;
}
.btn{
    border-radius: 2;
    padding: 2px 12px;
}
.btn-large{
    border-radius: 2;
    padding: 10px 20px;
}
.content{
    display:none;
}
.popover{
    max-width: 100%;
}
.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}
.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}
.img-left {
    float: none;
    margin: 0 auto 0;
}
/* CSS modal*/
.modal-dialog{
    /*margin-top: 50%;*/
    border-radius:0;
    /*Menambahkan Garis Pembatas*/
    /*border: 5px solid #B5141A;*/
}
.modal-header{
    background-color: #990000;
    /*background-color: #3871F5;*/
    border-bottom: none;
}
.modal-title{
    color: white;
    text-align: center;;
}
.modal-body{
    /*background-color: #21608A;*/
    padding: 5px 15px;
    /*color: white;*/
}
.modal-footer{
    /*background-color: #3498db;*/
    padding: 10px;
    margin-top: 0;
}
footer {
    background: black;
    margin-top: 10px;
}
footer p {
    margin: 0;
    padding: 15px 0;
    color: #ffffff;
}
footer a{
    color: #ffffff;
}
.control-label{
    white-space: nowrap;
}
.alert {
    margin-bottom: 5px;
    padding: 7px;
}
.alert-primary {
    border: 1px solid #b8daff;
    color: #004085;
    background-color: #cce5ff;
}
.alert-secondary {
    border: 1px solid #dddfe2;
    color: #464a4e;
    background-color: #e7e8ea;
}
.alert-default {
    border: 1px solid #dfdfdf;
    color: #464a4e;
    background-color: #ffffff;
}
.alert-success{
    border: 1px solid #c3e6cb;
    color: #155724;
    background-color: #d4edda;
}
.alert-info {
    border: 1px solid #bee5eb;
    color: #0c5460;
    background-color: #d1ecf1;
}
.alert-warning {
    border: 1px solid #ffeeba;
    color: #856404;
    background-color: #fff3cd;
}
.alert-danger{
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}
.form-group {
    margin-bottom: 10px;
}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px 6px 2px 6px;
    /*vertical-align: top;*/
    vertical-align: middle;
}
.table > thead > tr > th{
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
    /*vertical-align: middle;*/
    padding: 8px 6px;
    /*border: 1px solid #f2dede;*/
}
.error{
    color: red;
    background-color: #f8d7da;
    /*background-color: #ffe6e6;*/
    /*border:  1px solid red;*/
    border-radius: 4px;
    padding:0 10px;
    display: inline-block;
    margin-top: 2px;
    font-weight: normal;
}
.error2{
    color: red;
    padding:0 10px;
    display: inline-block;
}
.alertme{
    font-size: 15px;
    text-align: center;
}
.alertme2{
    /*font-size: 18px;*/
    text-align: center;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #d9d9d9;
    opacity: 1;
}
input[readonly], input[readonly="readonly"] {
    cursor: not-allowed;
    /*cursor: pointer;*/
}
input[readonly]:focus, input[readonly="readonly"]:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
select[readonly], select[readonly="readonly"]{
    cursor: not-allowed;
}
select[readonly]:focus, select[readonly="readonly"]:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel{
    margin-bottom: 0;
}
.panel-default{
    border: 1px solid #f2dede;
}
.panel-heading{
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}
.panel-body{
    padding: 5px;
}
.panel-success > .panel-heading{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.panel-alert > .panel-heading{
    color: #fff;
    background-color: #990000;
    border-color: #d43f3a;
}
.panel-primary > .panel-heading{
    color: #fff;
    background-color: #3871F5;
    border-color: #357ebd;
}
.panel-info > .panel-heading{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.red{
    background: #990000;
    color: white;
}
.redold{
    background-color: #990808;
    color: #fff;
}
.default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.white {
    color: #5e5e5e;
    background-color: #fff;
    border: 1px solid #e5e9ec;
}
.badge-primary {
    background-color: #428bca;
    border: 0.5px solid white;
}
.badge-danger {
    background-color: #b94a48;
    border: 0.5px solid white;
}
.badge-warning {
    background-color: #f89406;
    border: 0.5px solid white;
}
.badge-success {
    background-color: #4cae4c;
    border: 0.5px solid white;
}
.badge-info {
    background-color: #3a87ad;
    border: 0.5px solid white;
}
.badge-inverse {
    background-color: #333333;
    border: 0.5px solid white;
}
span >.label{
    font-size: 14px;
}
.breadcrumb > li + li:before {
    color: #505050;
    content: '\f105';
    font-family: 'fontAwesome';
    padding: 0 5px;
}
.form-horizontal .control-label{
    /* text-align:right; */
    text-align:left;
}
@media (max-width: 767px){
    .wrapper{
        overflow-x: hidden;
    }
    .modal-400{
        width: auto;
    }
    .row{
        padding: 0 2px;
    }
    .navbar{
        padding-right: 0;
        overflow-x: hidden;
        margin-bottom: 5px;
    }
    .head{
        min-height: 0;
    }
    .box {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
    }
    .btn-large{
        border-radius: 2;
        padding: 5px 6px;
    }
    .box2 {
        padding: 0;
    }
    .box-2{
        margin: 0;
    }
    .judul {
        margin-top: 20px;
        font-size: 2em;
    }
    .gambar-lap{
        height: 15rem;
        background-color: red;
    }
    .col-lap1{
        padding-right: 0;
        margin-bottom: 10px;
    }
    .col-lap2{
        padding-left: 0;
    }
    footer{
        margin-top: 5px;
    }
}
@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 5px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 3em;
        font-weight: 700;
        line-height: normal;
    }
    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 10px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        text-transform: none;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 2px;
    }
    .top-divider {
        margin-top: 0;
    }
    .img-left {
        float: left;
        margin-right: 25px;
    }
    .navbar {
        border-radius: 0;
    }
    .navbar-header {
        display: none;
    }
    .navbar {
        min-height: 0;
    }
    .navbar-default {
        border: none;
        background: black;
        border-bottom: 5px solid #B5141A;
        border-top: 5px solid #B5141A;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background: black;
    }
    .nav>li>a {
        padding: 6px 15px 5px 15px;
    }
    .nav>li>form {
        padding: 6px 25px 5px 25px;
    }
    .navbar-nav>li>a {
        line-height: normal;
    }
    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
    .col-lap1{
        padding-right: 0;
        margin-bottom: 0px;
    }
    .col-lap2{
        padding-left: 0;
    }
}
@media screen and (min-width:1000px) {
    .col-lap1{
        padding-right: 7.5px;
    }
    .col-lap2{
        padding-left: 7.5px;
    }
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a:hover {
    color: white;
    /*color: #990000;*/
    /*background-color: #f5c6cb;*/
    background-color: #B5141A;
    border-bottom: 3px solid #B5141A;
    padding-bottom: 2px;
}
.dropdown-menu>li>a:hover {
    color: white;
    /*color: #990000;*/
    /*background-color: #f5c6cb;*/
    background-color: #B5141A;
    border-bottom: 3px solid #B5141A;
    padding-bottom: 2px;
}
.navbar-brand {
    margin-right: 0;
    padding: 10px 0;
    text-align: center;
    width: 83%;
}
.navbar .navbar-brand>img {
    height: 3rem;
    width: auto;
    display: block;
    margin: 0 auto;
}
.navbar-toggle {
    margin-right: 5px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid bluesea;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
